.fwsfa { 
  margin-right: 90px;
  border-left-width: 87px;
  padding-top: 5px;
  border-right-width: 31px;
  padding-right: 49px;
  margin-left: 84px;
  margin-right: 13px;
  padding-left: 38px;
  margin-top: 27px;
  border-top-width: 28px;
  padding-bottom: 40px;
  border-right-width: 20px;
  padding-right: 59px;
  border-bottom-width: 23px;
  border-right-width: 83px;
  border-right-width: 23px;
  font-size: 43px;
  border-right-width: 2px;
  margin-left: 33px;
  border-right-width: 3px;
  border-top-width: 43px;
  margin-left: 90px;
}
